<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <div class="container">
        <h1>台鐵 API</h1>
        <p>提供簡易的 API 方便查詢台鐵火車班次，並使用 JSON 格式輕易的與程式整合。</p>
        <p><%= link_to 'Learn more', document_path, :class => "btn btn-primary btn-lg" %></p>
      </div>
    </div>
  </div>
</div>
